
<div #jqxWidget style="height: 30px;">
    <jqxMenu #menuReference [width]="getWidthMenu()" [height]="30">
      
      <ul>
        <li><a href="#Home">Home</a></li>
        <li>
          Databank
          <ul style="width: 250px;">
            <li><a href="/user-profile/0">Kullanıcı Bilgisi</a></li>
            
            <li><a href="/WheatherShowComponent">Hava Koşulları</a></li>
            <!-- <li><a href="/MasterCityComponent">Şehir</a></li> -->
            <li><a href="/IotsensortransactionComponent">Sensor Transaction</a></li>


            
            <li><a href="/ManagesensortransactionComponent">Sensors Management</a></li>


            

            <li><a href="#Financial">Financial services</a></li>
            <li><a href="#Government">Government</a></li>
            <li><a href="#Manufacturing">Manufacturing</a></li>
            <!-- <li><a href="/UserProfileComponent">CRM User Info</a></li> -->

            <li><a href="javascript:void(0)">All industries and solutions</a></li>
          </ul>
        </li>
        <li>
          Finansal
          <ul>
            <li><a href="/CurrencyRateComponent">Döviz Kurları</a></li>
              

            <!-- <li><a href="/log-in">Login - Kullanıcı degistir</a></li>
            <li><a href="#MobileProducts">Mobile products</a></li>
            <li><a href="#AllProducts">All products</a></li> -->
          </ul>
        </li>
        <li>
          Zirai Denetim
          <ul style="width: 200px;">
            <li><a href="#SupportHome">Zirai iş planı</a></li>
            <li><a href="#CustomerService">Zirai fizibilite</a></li>
            <li><a href="#KB">Zirai Operasyon</a></li>
            <li><a href="#Books">Zirai Yönetim</a></li>
            <li><a href="#Training">Zirai Stok ve Envantel Yönetimi</a></li>
          </ul>
        </li>
        <li>
          Genel Yönetim ve Operasyon
          <ul style="width: 200px;">
            <li><a href="#Designers">Seyehat Planlama</a></li>
            <li><a href="#Developers">Periyodik işler</a></li>
            <li><a href="#Educators">Toplantılar ve Kararlar</a></li>
            <li><a href="#Partners">Operasyon</a></li>
            <!-- <li type="separator"></li>
            <li>
              By resource
              <ul>
                <li><a href="#Labs">Labs</a></li>
                <li><a href="#TV">TV</a></li>
                <li><a href="#Forums">Forums</a></li>
                <li><a href="#Exchange">Exchange</a></li>
                <li><a href="#Blogs">Blogs</a></li>
                <li><a href="#Experience Design">Experience Design</a></li>
              </ul>
            </li> -->
          </ul>
        </li>
       
      </ul>
    </jqxMenu>
</div>
