
    <div class="row">
        <div class="col">
            <app-yil-combobox-via-datasource #cmbUserList (EventChangeValue)="cmbUserListChangeValue($event)" [label]="lblUserList"></app-yil-combobox-via-datasource>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-yil-combobox-via-datasource #cmbTarlaList (EventChangeValue)="cmbTarlaListChangeValue($event)" [label]="lblTarlaList"></app-yil-combobox-via-datasource>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-yil-combobox-via-datasource #cmbDeviceType [label]="lblDeviceType"></app-yil-combobox-via-datasource>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <smart-check-box #chbIsParent (change)="onChangeIsParent($event)" id="chbIsParent">IsParent (Direk olarak BE ye bagli Mi)</smart-check-box>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-yil-combobox-via-datasource #cmbParentListesi [label]="lblParentDevice"></app-yil-combobox-via-datasource>
        </div>
    </div>

    

    
    <div class="row">
        <div class="col">
            <app-save-button (onClick)="kaydetClicked()"></app-save-button>
            <app-list-button (onClick)="listeleClicked()"></app-list-button>
        </div>
    </div>


    <app-yil-base-just-list-from-ds #base [yilcolumns]="yilcolumns" [yildatafields]="yildatafields" [yildata]="yildata"></app-yil-base-just-list-from-ds>


