<app-yil-base-master-crud-the-other-one #baseAdres 
[yilAutomaticfillValue]="_yilAutomaticfillValue"
[modalWindowForm]="myWindowUserCustomerAdres" 
[gridColumns]="gridColumns"
[abstractidnoService]="_userAdresService"
[entityVal]="entityVal"
[currentUser]="currentUser"
(EventSetValueToModalWindowForm)="EventSetValueToModalWindowFormSubclass($event)"
(EventClearValueToModalWindowForm)="EventClearValueToModalWindowFormSubclass()"
(EventSetValueToEntityFromModalWindowForm)="EventSetValueToEntityFromModalWindowFormSubclass($event)">
</app-yil-base-master-crud-the-other-one>


<jqxWindow #myWindowUserCustomerAdres [width]="450" [height]="430" [resizable]="false" [isModal]="false" [autoOpen]="false" [modalOpacity]="'0.01'">
    <div>Edit</div>
    <div style="overflow: hidden;">
        <table>
            <tr>
                <td align="right">id:</td>
                <td align="left">
                    <jqxNumberInput #id
                        [width]="150" [height]="23" [disabled]="true"
                        [min]="0" [spinButtons]="true" [spinMode]="'simple'"></jqxNumberInput> 
                </td>
            </tr>
            <tr>
                <td align="right">Adres:</td>
                <td align="left">
                    <jqxInput #adres [width]="150" [height]="23"></jqxInput>
                </td>
            </tr>
          
            
            <tr>
                <td align="right">Şehir</td>
                <td align="left">
                    <app-yil-combobox-via-service #combyilSehir
                    (EventChangeValue)="cmbyilSehirChangeValue($event)"
                    [abstractidnoService]="cityService"></app-yil-combobox-via-service>
                </td>
            </tr>

            <tr>
                <td align="right">İlçe</td>
                <td align="left">
                    <app-yil-combobox-via-datasource #combyilIlce></app-yil-combobox-via-datasource>
                </td>
            </tr>

            
            
            
            <tr>
              <td align="right"></td>
              <td style="padding-top: 10px;" align="right">
                  <jqxButton style="margin-right: 5px;" (onClick)="baseAdres.saveBtn()">
                      Kaydet
                  </jqxButton>
                  <jqxButton style="margin-right: 5px;" (onClick)="baseAdres.cancelBtn()">
                      İptal
                  </jqxButton>
              </td>
            </tr>
        </table>
    </div>
</jqxWindow>


