<jqxTabs #jqxTabs style='float: left;' (onSelected)="myTabsOnSelected($event)"
         [width]="getWidth()" [selectionTracker]="true" [animationType]="'fade'">
  <ul style="margin-left: 40px;">
    <li>
      <div style="height: 40px;">
        <img style='float: left;' width='32' height='32' src="../../../assets/images/customerdetail.jpg" alt="" class="small-image" />
        <div style="float: left; margin-left: 6px; text-align: center; margin-top: 5px; font-size: 13px;">
          Müşteri
          <br />
          Detay
        </div>
      </div>
    </li>
    <li>
      <div style="height: 40px;">
        <img style='float: left;' width='32' height='32' src="../../../assets/images/telefon.jpg" alt="" class="small-image" />
        <div style="float: left; margin-left: 6px; text-align: center; margin-top: 5px; font-size: 13px;">
          Müşterinin
          <br />
          Telefonları         
        </div>
      </div>
    </li>
    <li>
      <div style="height: 40px;">
        <img style='float: left;' width='32' height='32' src="../../../assets/images/address.jpg" alt="" class="small-image" />
        <div style="float: left; margin-left: 6px; text-align: center; margin-top: 5px; font-size: 13px;">
          Müşterinin
          <br />
          Adresleri
        </div>
      </div>
    </li>
    <li>
      <div style="height: 40px;">
        <img style='float: left;' width='32' height='32' src="../../../assets/images/tarla.jpg" alt="" class="small-image" />
        <div style="float: left; margin-left: 6px; text-align: center; margin-top: 5px; font-size: 13px;">
          Müşterinin
          <br />
          Tarlaları
        </div>
      </div>
    </li>

  </ul>
  <div class="content-container">
    <div style="height: 500px">
      <img src="./../../../images/building_big.jpg" alt="" class="big-image" />

      <div style="padding-left: 50px;">
          <h3>
            30 St Mary Axe
          </h3>
           <app-user-customer-detail></app-user-customer-detail>
           <!-- <app-master-city #cityComponent></app-master-city> 
           <app-user-customer-tel #customerTelComponent></app-user-customer-tel>-->
      </div>
    </div>
  </div>
  <div class="content-container">
    <div style="height: 400px">
      <img src="./../../../images/building2_big.jpg" alt="" class="big-image" />
      <div style="padding-left: 50px;">
      <h3>
        Müşteri Telefon
      </h3>
      <app-user-customer-tel #customerTelComponent></app-user-customer-tel>
    </div>
    </div>
  </div>
  <div class="content-container">
    <div style="height: 400px">
      <img src="./../../../images/building3_big.jpg" alt="" class="big-image" />
      <div style="padding-left: 50px;">
      <h3>
        Müşteri Adres
      </h3>
        <app-user-customer-adres #customerAdresComponent></app-user-customer-adres>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div style="height: 400px">
      <img src="./../../../images/building3_big.jpg" alt="" class="big-image" />
      <div style="padding-left: 50px;">
      <h3>
        Müşteri Tarla
      </h3>
      <app-user-customer-tarla #customerTarlaComponent></app-user-customer-tarla>
      </div>
    </div>
  </div>
</jqxTabs>
