<!-- {{localStorageUser.id}} -->


<jqxTabs #jqxTabs style='float: left;'
         [width]="getWidth()" [selectionTracker]="true" [animationType]="'fade'">
  <ul style="margin-left: 40px;">
    <li>
      <div style="height: 40px;">
        <img style='float: left;' width='32' height='32' src="../../../assets/images/customerdetail.jpg" alt="" class="small-image" />
        <div style="float: left; margin-left: 6px; text-align: center; margin-top: 5px; font-size: 13px;">
          Müşteri
          <br />
          Detay
        </div>
      </div>
    </li>
    <li>
      <div style="height: 40px;">
        <img style='float: left;' width='32' height='32' src="../../../assets/images/address.jpg" alt="" class="small-image" />
        <div style="float: left; margin-left: 6px; text-align: center; margin-top: 5px; font-size: 13px;">
          Müşterinin
          <br />
          Adresleri
        </div>
      </div>
    </li>
    <li>
      <div style="height: 40px;">
        <img style='float: left;' width='32' height='32' src="../../../assets/images/telefon.jpg" alt="" class="small-image" />
        <div style="float: left; margin-left: 6px; text-align: center; margin-top: 5px; font-size: 13px;">
          Müşterinin
          <br />
          Telefonları
        </div>
      </div>
    </li>
    <li>
      <div style="height: 40px;">
        <img style='float: left;' width='32' height='32' src="../../../assets/images/tarla.jpg" alt="" class="small-image" />
        <div style="float: left; margin-left: 6px; text-align: center; margin-top: 5px; font-size: 13px;">
          Müşterinin
          <br />
          Tarlaları
        </div>
      </div>
    </li>

  </ul>
  <div class="content-container">
    <div style="height: 500px">
      <img src="./../../../images/building_big.jpg" alt="" class="big-image" />

      <div style="padding-left: 50px;">
          <h3>
            30 St Mary Axe
          </h3>
           <app-user-customer-detail></app-user-customer-detail>
           <app-master-city></app-master-city>
           <app-user-customer-tel></app-user-customer-tel>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div style="height: 400px">
      <img src="./../../../images/building2_big.jpg" alt="" class="big-image" />
      <div style="padding-left: 50px;">
      <h3>
        Customer Tel
      </h3>
      <!-- <app-user-customer-tel></app-user-customer-tel> -->
      <!-- <app-master-city></app-master-city> -->
    </div>
    </div>
  </div>
  <div class="content-container">
    <div style="height: 400px">
      <img src="./../../../images/building3_big.jpg" alt="" class="big-image" />
      <h3>
        The Willis Tower
      </h3>
      <p class="important-text">
        (formerly named, and still commonly referred to as, the Sears Tower) is a 108-story,
        1,451-foot (442 m) skyscraper in Chicago, Illinois. At the time of its completion
        in 1973, it was the tallest building in the world, surpassing the World Trade Center
        towers in New York, and it held this rank for nearly 25 years. The Willis Tower
        is the tallest building in the United States and the fifth-tallest freestanding
        structure in the world, as well as the fifth-tallest building in the world to the
        roof.
      </p>
      <div class="more-text">
        Although Sears's naming rights expired in 2003, the building continued to be called
        the Sears Tower for several years. In March 2009, London-based insurance broker
        Willis Group Holdings agreed to lease a portion of the building, and obtained the
        building's naming rights. On July 16, 2009, the building was officially renamed
        the Willis Tower.
      </div>
    </div>
  </div>
  <div class="content-container">
    <div style="height: 400px">
      <img src="./../../../images/building3_big.jpg" alt="" class="big-image" />
      <h3>
        yasar yılmaz
      </h3>
      <p class="important-text">
        (formerly named, and still commonly referred to as, the Sears Tower) is a 108-story,
        1,451-foot (442 m) skyscraper in Chicago, Illinois. At the time of its completion
        in 1973, it was the tallest building in the world, surpassing the World Trade Center
        towers in New York, and it held this rank for nearly 25 years. The Willis Tower
        is the tallest building in the United States and the fifth-tallest freestanding
        structure in the world, as well as the fifth-tallest building in the world to the
        roof.
      </p>
      <div class="more-text">
        Although Sears's naming rights expired in 2003, the building continued to be called
        the Sears Tower for several years. In March 2009, London-based insurance broker
        Willis Group Holdings agreed to lease a portion of the building, and obtained the
        building's naming rights. On July 16, 2009, the building was officially renamed
        the Willis Tower.
      </div>
    </div>
  </div>
</jqxTabs>
