<smart-toast #alertInfo [position]="bottom-right" [auto-close]="true" class="blink" id="alertInfo"  [type]="info">Alert!</smart-toast>
<smart-toast #alertWarning [position]="bottom-right" [auto-close]="true" class="blink" id="alertWarning" [type]="warning">Alert!</smart-toast>
<smart-toast #alertSuccess [position]="bottom-right" [auto-close]="true" class="blink" id="alertSuccess" [type]="success">Alert!</smart-toast>
<smart-toast #alertError [position]="bottom-right" [auto-close]="true" class="blink" id="alertError" [type]="error">Alert!</smart-toast>
<smart-toast #alertMail [position]="bottom-right" [auto-close]="true" class="blink" id="alertMail" [type]="mail">Alert!</smart-toast> 




<smart-window id="modelInfo" closed label="" header-buttons='["close"]'>
  <section>
       <div id="txtModelInfoBilgi">Bilgi akisi icin yapidi</div>
       <p></p>
       <smart-button class="cancel" (click)="closeModelInfo($event)">Tamam</smart-button>  
         
  </section>
</smart-window>

<!-- <app-confirmation-dialog></app-confirmation-dialog> -->

<!-- <p></p>
<p></p>
<p></p>
<p></p> -->
<div class="smart-grid-layout">
        <div class="row">
                       <div class="col-sm-12">
                               <app-yilmenu></app-yilmenu> 

                       </div>   
        </div>
        <div class="row">
                <div class="col-sm-12">
                         <router-outlet></router-outlet> 
                </div>   
        </div>
</div>    

