

    <div class="row">
        <div class="col">
            <smart-toast #toast [position]="'top-left'" [autoOpen]="false" [showCloseButton]="true" [type]="'warning'" class="blink">Biri Geldi.</smart-toast>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-yil-combobox-via-datasource #cmbTarlaList (EventChangeValue)="cmbTarlaListChangeValue($event)"></app-yil-combobox-via-datasource>
        </div>
    </div>

    <!-- <div class="row description">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div>
                Anlık Sensor verileri
            </div>
        </div>
    </div>
   
    <div class="row bargauge">
        
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="description">Sicaklik</div> 
            <div id="bargauge1" class="ptiles bargauge jqx-widget jqx-bar-gauge jqx-widget-content" style="width: 375px; height: 300px;">                     
                <jqxBarGauge #myBarGaugeTemp (onDrawEnd)="onDrawEnd()"             
                    [height]='350' [relativeInnerRadius]='0.6'
                    [values]='[25]' [formatFunction]='formatFunction'>
                </jqxBarGauge>
            </div> 
        </div>


        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="description">Havadaki Nem</div>
            <div id="bargauge2" class="ptiles bargauge jqx-widget jqx-bar-gauge jqx-widget-content" style="width: 375px; height: 300px;">
            
            <jqxBarGauge #myBarGaugeNem (onDrawEnd)="onDrawEnd()"          
                [height]='350' [relativeInnerRadius]='0.6'
                [values]='[25]' [formatFunction]='formatFunction'>
            </jqxBarGauge>
            </div>

        </div>


        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="description">Toprağın Tavı</div>
            <div id="bargauge3" class="ptiles bargauge jqx-widget jqx-bar-gauge jqx-widget-content" style="width: 375px; height: 300px;">
                <jqxBarGauge #myBarGaugeToprakIslakligi (onDrawEnd)="onDrawEnd()"         
                    [height]='350' [relativeInnerRadius]='0.6'
                    [values]='[25]'  [formatFunction]='formatFunction'>
                </jqxBarGauge>
            </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="description">Işığın Vuruş Gücü</div>
            <div id="bargauge4" class="ptiles bargauge jqx-widget jqx-bar-gauge jqx-widget-content" style="width: 375px; height: 300px;">
                <jqxBarGauge #myBarGaugeIsiginGucu (onDrawEnd)="onDrawEnd()"         
                    [height]='350' [relativeInnerRadius]='0.6'
                    [values]='[25]' [formatFunction]='formatFunction'>
                </jqxBarGauge>
            </div>
        </div>

        
    </div> -->
    
    
    

    <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            buraya bır chart bar daha ekleyebılırsın
        </div>
        <div id="addDeleteSet" class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            <app-yil-combobox-via-datasource #cmbSelectionTransactionType (EventChangeValue)="cmbChangeSelectionTransactionType($event)"></app-yil-combobox-via-datasource>
            <div style="display: inline-block;"></div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div id="gridContent" class="ptiles">
                 <app-yil-base-just-list-from-ds #base [yilcolumns]="yilcolumns" [yildatafields]="yildatafields" [yildata]="yildata"></app-yil-base-just-list-from-ds> 
            </div>
        </div>


        
    </div>




