
<div class="smart-grid-layout">

    <div class="row">
        <div class="col">
            <smart-toast #toast [position]="'top-left'" [autoOpen]="false" [showCloseButton]="true" [type]="'warning'" class="blink">Biri Geldi.</smart-toast>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-yil-combobox-via-datasource #cmbTarlaList (EventChangeValue)="cmbTarlaListChangeValue($event)"></app-yil-combobox-via-datasource>
        </div>
    </div>
   
    <div class="row">
        <div class="col-3">Sıcaklık (Son Ölçüm Zamani : {{LastTimeForTemp}})</div>
        <div class="col-3">Havadaki Nem (Son Ölçüm Zamani : {{LastTimeForHavadakiNem}})</div>
        <div class="col-3"></div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3">                       
            <jqxBarGauge #myBarGaugeTemp (onDrawEnd)="onDrawEnd()"             
                [height]='350' [relativeInnerRadius]='0.6'
                [values]='[25]'  [formatFunction]='formatFunction'>
            </jqxBarGauge>
        </div>


        <div class="col-3">
            <jqxBarGauge #myBarGaugeNem (onDrawEnd)="onDrawEnd()"          
                [height]='350' [relativeInnerRadius]='0.6'
                [values]='[25]' [formatFunction]='formatFunction'>
            </jqxBarGauge>

        </div>
        <div class="col-6"></div>
    </div>
    <div class="row">
        <div class="col-3">Topraktaki Nem (Son Ölçüm Zamani : {{LastTimeForTopraktakiNem}})</div>
        <div class="col-3">Işığın vuruş Gücü(Son Ölçüm Zamani : {{LastTimeForIsiginGucu}})</div>
        <div class="col-3"></div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3">
            <jqxBarGauge #myBarGaugeToprakIslakligi (onDrawEnd)="onDrawEnd()"         
                [height]='350' [relativeInnerRadius]='0.6'
                [values]='[25]'  [formatFunction]='formatFunction'>
            </jqxBarGauge>
        </div>
        <div class="col-3">
            <jqxBarGauge #myBarGaugeIsiginGucu (onDrawEnd)="onDrawEnd()"         
                [height]='350' [relativeInnerRadius]='0.6'
                [values]='[25]' [formatFunction]='formatFunction'>
            </jqxBarGauge>
        </div>
        <div class="col-6"></div>
        
    </div>
  
    <!-- <div class="row">
        <div class="col-6">
            <jqxChart #myChart
                [width]="getWidth()" [height]="500"
                [title]="'Canlı Sensör görünümü'" [enableAxisTextAnimation]="true"
                [description]="'10 sn de bir yeniler'"
                [showLegend]="true" [enableAnimations]="false" [padding]="padding"
                [titlePadding]="titlePadding" [source]="data" [xAxis]="xAxis"
                [valueAxis]="valueAxis" [seriesGroups]="seriesGroups" [colorScheme]="'scheme01'">
            </jqxChart>
        </div>
        <div class="col-6"></div>
    </div> -->

    <div class="row">
        <div class="col-6">
            <app-yil-base-just-list-from-ds #base [yilcolumns]="yilcolumns" [yildatafields]="yildatafields" [yildata]="yildata"></app-yil-base-just-list-from-ds>
        </div>
        <div class="col-6"></div>
    </div>

</div>



